venv/
__pycache__/
*.pyc
*.pyo
bitcoin_dbt/target/*
!bitcoin_dbt/target/manifest.json
dbt_packages/
logs/
*.log
.tmp_dagster_home*/
.env
profiles.yml
.DS_Store

.venv/
bitcoin_dagster/bitcoin_dagster/bitcoin_dbt/target/*
!bitcoin_dagster/bitcoin_dagster/bitcoin_dbt/target/manifest.json
.user.yml
