# Core Dagster packages
dagster==1.12.13
dagster-dbt==0.28.13
dagster-cloud==1.12.1



# Data & cloud utilities
pandas==2.1.1
pyarrow==12.0.1
requests==2.31.0
s3fs==2023.12.0
sqlalchemy==2.0.22
boto3==1.28.52
