# Core Dagster packages
dagster==2.9.0
dagster-cloud

# Dagster DBT integration (latest compatible with Python 3.10)
dagster-dbt==0.28.13  

# Databases / adapters
dagster-postgres
dbt-core==1.5.2
dbt-snowflake==1.5.1

# Data / storage
pandas
requests
pyarrow
s3fs
boto3
sqlalchemy
