name: Serverless Prod Deployment

on:
  push:
    branches:
      - main
      - master

concurrency:
  group: ${{ github.ref }}/deploy
  cancel-in-progress: true

env:
  DAGSTER_CLOUD_URL: "http://ubokobong2.dagster.plus"
  DAGSTER_CLOUD_API_TOKEN: ${{ secrets.DAGSTER_CLOUD_API_TOKEN }}
  DAGSTER_CLOUD_FILE: "dagster_cloud.yaml"
  PYTHON_VERSION: "3.10"

jobs:
  docker_deploy:
    name: Dagster Docker Deploy
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ifistic/bitcoin-market-pipeline:latest

      - name: Deploy to Dagster Cloud (Docker)
        uses: dagster-io/dagster-cloud-action/actions/serverless_prod_deploy@v1.12.14
        with:
          dagster_cloud_api_token: ${{ secrets.DAGSTER_CLOUD_API_TOKEN }}
          organization_id: ${{ secrets.ORGANIZATION_ID }}
          base_image: ifistic/bitcoin-market-pipeline:latest
