name: Serverless Prod Deployment
on:
  push:
    branches:
      - "main"
      - "master"

concurrency:
  group: ${{ github.ref }}/deploy
  cancel-in-progress: true

env:
  DAGSTER_CLOUD_URL: "http://ubokobong2.dagster.plus"
  DAGSTER_CLOUD_API_TOKEN: ${{ secrets.DAGSTER_CLOUD_API_TOKEN }}
  ENABLE_FAST_DEPLOYS: 'true'
  PYTHON_VERSION: '3.10'
  DAGSTER_CLOUD_FILE: 'dagster_cloud.yaml'

jobs:
  dagster_cloud_docker_deploy:
    name: Docker Deploy
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Build and deploy to Dagster Cloud serverless
        uses: dagster-io/dagster-cloud-action/actions/serverless_prod_deploy@v1.12.14
        with:
          dagster_cloud_api_token: ${{ secrets.DAGSTER_CLOUD_API_TOKEN }}
          location:
                location_name: bitcoin_market
            code_source:
              package_name: crypto_pipeline
            container_context:
              docker:
                container_kwargs:
                  image: ifistic/bitcoin-market-pipeline:latest
          base_image: "python:${{ env.PYTHON_VERSION }}-slim"
          organization_id: ${{ secrets.ORGANIZATION_ID }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
