name: Dagster Serverless Deploy

on:
  push:
    branches: [ "main", "master" ]

jobs:
  deploy:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Dagster Cloud (Docker)
        uses: dagster-io/dagster-cloud-action/actions/serverless_prod_deploy@v1.12.14
        with:
          dagster_cloud_api_token: ${{ secrets.DAGSTER_CLOUD_API_TOKEN }}
          organization_id: ${{ secrets.ORGANIZATION_ID }}
          dagster_cloud_file: dagster_cloud.yaml
          base_image: "python:3.10-slim"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
